form {
 form {
  width: 400px; /* o el ancho que quieras */
  margin: 0 auto;
  padding: 20px 50px;
  text-align: left; /* esto alinea el texto dentro a la izquierda */
  display: block; /* IMPORTANTE: no uses table-caption */
}
}

form h1 {
  background-color: var(--c-00);
}
form textarea,
form input {
    height: 40px;
    width:300px;
    margin: 10px 0px;
    
}

form textarea {
    height: 100px;
}

.container-form {
  display: grid;
  place-items: center;
}

label {
    display: block !important;
}
