form {
    padding: 20px 50px;
    text-align:left;
    display: table-caption;
}

form textarea,
form input {
    height: 40px;
    width:300px;
    margin: 10px 0px;
    
}

form textarea {
    height: 100px;
}

