header {
    padding: 0;
    background-color: var(--c-00);
}

h1 {
    text-align: center;
}

.header-logo {
    height: 500px;
    text-align: center;
}

header div {
    display: flex;
    justify-content: space-between;
}

a {
    font-size: larger;
}

.header-nav {
    padding: 1%;
    background-color: var(--c-05);
    display: block;
}

.container-header-nav {
    padding: 1%;
    background-color: var(--c-05);
}