header {
    padding: 0;
    background-color: var(--c-00);
}

h1 {
    text-align: center;
}

.header-logo {
    width: -webkit-fill-available;
    max-width: 500px;
    text-align: center;
}

header div {
    display: flex;
    justify-content: center;

}

a {
    font-size: larger;
}

.header-nav {
    padding: 1%;
    background-color: var(--c-05);
    display: block;
    margin-bottom: 10px;
}

.container-header-nav {
    padding: 1%;
    background-color: var(--c-05);
}