@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Eczar&family=Ovo&family=Glacier+Indifference');

:root {
  --c-00:#F5E3FBFF;
  --c-01:#e2c7eb;
  --c-02:#b382d1;
  --c-03:#9058b3;
  --c-04:#824093;
  --c-05:#754692; 

  /*--font-logo: 'Adam Script', cursive; ES MUY CARA, hay que descargarla y sale 3000 usd*/
  --font-datos: 'Alegreya', serif;
  --font-carteles: 'Glacial Indifference', sans-serif;
  --font-titulo: 'Eczar', serif;
  --font-descripcion: 'Ovo', sans-serif;
}
  
p, .boton, a, ::placeholder {
  font-family: var(--font-descripcion);
}

h3, h2, h1,h5 {
  font-family: var(--font-titulo);
}

h3, h2, h1, h5, p, strong, input {
  -webkit-text-fill-color: var(--c-05);
}

::placeholder {
  -webkit-text-fill-color: var(--c-02);
}

h5 {
  font-weight: 200;
}
.boton, a {
  flex: 1;
  padding: 8px;
  margin: 2px;
  border: 2px solid var(--c-04);
  border-radius: 25px;
  background-color: var(--c-00);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* para <Link> */
  color:var(--c-05)
}

.boton:hover, a:hover {
  background-color: var(--c-04);
  color: var(--c-00);
  border: 2px solid var(--c-01);
}

.activo {
  background-color: var(--c-05);
  color: var(--c-00);
  transform: translateY(-5px); /* se ve "hundido" */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 3px solid var(--c-01);
}
.enlace-boton {
  text-decoration: none;
  display: inline-block;
}

strong,p {
  font-size: larger;
}

main {
  text-align: center;
}

html, body, #root, .app-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
}

.app-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}