.producto-imagen {
  width: 300px;
  height: 300px;
  margin-top: 5px;
  object-fit: cover;
  border-radius: 8px;
}

.producto-grid {
    background-color: var(--c-00);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(400px,10%));
    gap: 16px;
    padding: 16px;
    
}
.producto-tarjetas {
  background-color: var(--c-01);
  display: flex;
  border: 1px solid;
  border-radius: 8px;
  padding: 12px;
  gap: 12px;
  align-items: center;
  flex-direction: column;
}

.producto-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  align-items: baseline;
}

.producto-info p, h3 {
  align-self: center;
}
.producto-precio {
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
}
.producto-nombre {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
    
}
.producto-boton {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 8px;
}

.producto-boton .boton {
  margin: 2px;
  justify-content: center;
  align-items: center;
}